<% @tasks.each do |task| %>
  <h1><%= task.name %></h1>
  <h3><%= task.details %></h3>
  <h3><%= task.completed %></h3>
  <%= link_to task.name, task_path(task) %>
  <%= link_to "delete task", task_path(task), method: :delete %>
<% end %>
